.DS_Store     # Fichier système sous mac OS
Thumbs.db     # Fichier système sous windows
/node_modules # Dossier contenant les packages installé via `npm` ou `yarn`
/dist         # Dossier contenant les fichiers compilés
node_modules
